/* Configurações gerais 
npm run build*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
  <MapView
    initialRegion={{
      latitude: 37.78825,
      longitude: -122.4324,
      latitudeDelta: 0.0922,
      longitudeDelta: 0.0421,
    }}
  />
*/

/* Topo */

.center{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.main{
  padding: 40px 0;
  width: 100%;
  background-color: #3f31313b;
  background-image: url('./img/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
    background-size:100%;
  min-height: 400px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu h3{
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 3px 8px;
  border-radius: 5px;
}

.item-menu a{
  margin: 7px;
}

/* Botão WathsApp */

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.whatsapp-link img {
  margin-top: 16px;
  width: 50%;
  height: 50%;
}

/* Sobre */

.presentation{
  text-align: center;
}
.about {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
}

.about-content {
  max-width: 1000px;
  min-width: 300px;
  height: 600px;
  background: #dedede3b;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 10;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 25%;
  min-width: 300px;
  height: 70%;
  background: #000000a1;
  border-radius: 8px;
}

.right {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10%;
}

.right h3 {
  text-align: right;
  width: 90%;
  margin-bottom: 20px;
}

.right p {
  max-width: 90%;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}

/* Funções */

.funcoes{
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.central{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 50px 10px;
}

.central1{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 50px 10px;
}

.areaImagem{
  float:left;
  margin-top:10px;
}

.areaImagem img{
  width:400px;
}

.areaTexto p{
  float:right;
  max-width:500px;
  margin-left:10px;
  text-align: center;
}

/*Conteúdo*/

section .card-wrapper {
  background: #dedede3b;
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 50px;
}

section .card-item {
  height: 400px;
  background: var(--gray);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-content {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-item img {
  width: 35%;
}

.card-item h4 {
  width: 90%;
}

.card-item p {
  width: 90%;
  font-style: italic;
  color: #00000070;
}

.card-item button:hover {
  background: #dedede;
  color: var(--grenn);
}

.card-item button a{
  text-decoration: none;
}


/* Formulário */

.form{
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.form h2{
  color: #1a7c1f;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 28px;
}

.items-form{
  margin: 0 auto;
  max-width: 540px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  
  flex-wrap: wrap;
}

.items-form input[type=text]
{
  width: 48%;
  height: 30px;
  margin: 8px 0px;
  padding-left: 10px;
}

.items-form input[type=submit]{
  width: 100%;
  height: 40px;
  background-color: #84e742;
  cursor: pointer;
  color: white;
  border: 0;
  font-size: 19px;
}

.items-form .AreaMensagem{
  width: 99%;
  height: 50%;
}

/*Rodapé*/

footer {
  width: 100%;
  height: 5px;
  align-items: center;
}

footer .maiin {
  width: 80%;
  height: 80px;
  background: var(--blu);
}

footer .maiin .footer-links {
  min-width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20%;
}

footer .maiin .footer-company,
footer .maiin .footer-rental,
footer .maiin .footer-contact,
footer .maiin .footer-social {
  height: 80%;
  min-height: 80px;
}pyp

footer .maiin .footer-links h4 {
  margin-bottom: 8px;
}

footer .maiin .footer-links {
  margin-bottom: 8px;
}

.maiin .footer-social img {
  width: 32px;
  height: 32px;
}

footer .last {
  width: 100%;
  height: 50px;
  background: var(--grenn);
  color:#25d366;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsividade */

@media screen and (max-width:900px){
  .items-form  input[type=text]{
    width: 100%;
    height: 30px;
    margin: 8px 0px;
  }

  .conteudo-single{
    width: 100%;
  }

  /* Edição de Funções */

  .funcoes{
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .central{
    width: 100%;
    height: 100%;
    display: table;
  }

  .central1{
    width: 100%;
    height: 100%;
    display: table;
    order: 1;
  }
  
  .areaImagem{
    float:left;
    margin-top:10px;
  }
  
  .areaImagem img{
    width:100%;
  }
  
  .areaTexto p{
    float:unset;
    max-width:300px;
    height: 100%;
    margin-left:30px;
  }

  /*Fim da edição */
  
  .content {
    width: 100%;
    height: 100%;
  }

  footer .maiin .footer-links {
    padding-left: 10%;
  }

  
  footer .maiin .footer-social a img{
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 576px) {
  nav ul li {
    display: none;
  }

  .header-block img {
    width: 70%;
    position: absolute;
    right: 16%;
    top: 30%;
  }

  .header-block .text {
    position: absolute;
    bottom: 10%;
    left: 15;
  }

  section .filter-card {
    width: 390px;
    padding: 0px 10px;
  }

  .search-input {
    max-width: 700px;
    min-width: 240px;
  }

  .search-button {
    max-width: 150px;
    min-width: 80px;
  }

  .about {
    margin-top: 100px;
  }

  .title-wrapper-about {
    margin-bottom: 20px;
  }
  .about-content {
    flex-direction: column;
    height: 100%;
  }
  .left {
    display: none;
  }
  .right {
    width: 90%;
  }

  .right p {
    width: 100%;
    margin: 0px;
    text-align: left;
  }

  .features {
    height: 100%;
  }

  .feature-card-block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 100%;
  }

  footer .maiin {
    height: 100%;
  }

  .footer-links {
    flex-direction: column;
    padding-left: 10%;
  }

  footer .maiin .footer-social a img{
    width: 30px;
    height: 30px;
  }
  footer .maiin .footer-links {
    padding-left: 10%;
  }
}

@media (max-width:200px) {
  footer .maiin .footer-social a img{
    width: 10%;
    height: 10%;
  }
  footer {
    height: 100%;
  }

  footer .maiin {
    height: 100%;
  }

  .footer-links {
    flex-direction: column;
    padding-left: 10%;
  }

  footer .maiin .footer-social a img{
    width: 50%;
    height: 50%;
  }
  footer .maiin .footer-links {
    padding-left: 10%;
  }
}